// Colors
$color-black: #000;
$color-white: #fff;

// Typography
$font-title: sans-serif;
$font-subtitle: sans-serif;
$font-light: sans-serif;
$font-regular: sans-serif;
$font-semi: sans-serif;
$font-bold: sans-serif;
